version: '3'
services:
  node-app:
    build: app
    image: app:1.0
    container_name: my-app
    ports:
      - "4000:8080"
    volumes:
      - ./app/src:/myapp/src
    depends_on:
      - db
    environment:
      - PG_HOST=db
      - PG_PORT=5432
      - PG_USER=postgres
      - PG_DATABASE=app
    deploy:
      replicas: 2
      resources:
        limits:
          cpus: "0.1"
          memory: 100M

  db:
    build: db
    image: db:1.0
    container_name: my-db